@using Org.BouncyCastle.Asn1.Cmp
@using View.ViewModels
@model KillerApp.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "HomePage";
}
<table class="table">
    <tr>
        <td width="80%">
            <a asp-controller="Movie" asp-action="MovieInfo" asp-route-id="@Model.MovieId"><h3><B>@Html.DisplayFor(modelItem => Model.Title)</B></h3></a>
        </td>
        <td width="20%" style="text-align: right;">
            <span>Release date: </span> @Html.DisplayFor(modelItem => Model.ReleaseDate)
        </td>
    </tr>
    <tr>
        <td width="100%" colspan="2">
            @foreach (GenreViewModel genre in Model.Genres)
            {
                @Html.Partial("GenrePartial", genre)
            }
        </td>
    </tr>
    <tr>
        <td width="100%" colspan="2">
            @Html.DisplayFor(modelItem => Model.ShortDescription);
        </td>
    </tr>
</table>
