@model IEnumerable<View.ViewModels.GenreViewModel>

@{
    ViewData["Title"] = "ManageGenres";
}

<h2>Manage Genres</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreId)
            </td>
            <td>
                <a class="btn btn-link" asp-controller="Genre" asp-action="RemoveGenre" asp-route-id="@item.GenreId" id="@item.Genre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
